[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/NoahRR/nvim.git
[submodule "archcraft-i3/.config/i3"]
	path = archcraft-i3/.config/i3
	url = https://github.com/NoahRR/archcraft-i3-config.git
[submodule "alacritty/.config/alacritty"]
	path = alacritty/.config/alacritty
	url = https://github.com/NoahRR/alacritty.git
